body {
    background-color: #18191A;
    scroll-snap-type: x mandatory;
    margin: 0;
}

section {
    box-sizing: border-box;
    position:absolute;
    min-width: 100vw;
    height: 100vh;
    left: 0;
    margin: 0;
    scroll-snap-align: start;
    position: relative;
}


.slider {
    font-family: sans-serif;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

/*
h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
  }
*/

.introDiv{
    display: flex;
    flex-direction: column;
    opacity: 0.5;
}

.backgroundAvatar{
    display:flex;
    width: 50%;
    margin:auto;
}

.introText{
    color: #E4E6EB;
    text-align: center;
    margin: 5%;
    margin-top: 20%;
    font-size: 30px;
}

.addPostText{
    color: #E4E6EB;
    text-align: center;
    margin: 5%;
    margin-top: 20%;
    font-size: 30px;
}

.teamNameDiv{
    color: #E4E6EB;
    text-align: center;
    margin: 5%;
    margin-top: 5%;
    font-size: 30px;
}
#dotContainer{
    display: flex;
    position: fixed;
    width: 30%;
    bottom: 3.3%;
    left:50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    justify-content: space-between;
    z-index: 1;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: #3BBC86;
    opacity: 0.3;
    border-radius: 50%;
}

#dot[name="dotMiddle"]{
    opacity: 1;
}

#blur{
    position: fixed;
    display: none;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.makeAPostButton{
    visibility: visible;
    position: fixed;
    bottom: 0%;
    right: 0%;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: #3BBC86;
    color: #FFFFFF;
    font-size: 20px;
    margin: 5%;
    z-index: 1;
}

#plus{
    display: inline-block;
    transform: rotate(45deg);
    font-weight: 700;
}

#formDiv{
    position: fixed;
    flex-direction: column;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: #77797c;
    font-family: 'Lato', sans-serif;
    display: none;
    margin: auto;
    width: 90%;
    background: #242526;
    border-radius: 10px;
    overflow: hidden;
    z-index: 3;
}

#inputForm{
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    width: 100%;
    margin:auto;
    font-weight: bold;
    padding: 5%;
}

#postTitleForm{
    background: #3A3B3C;
    border-radius: 10px;
    width:100%;
    height: 2em;
    color: #E4E6EB;
    border:none;
    margin-top:3%;
    font-size: 20px;
}

#formCPA{
    display: flex;
    margin:auto;
    width: 100%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#chapterNr{
    text-align: center;
    width: 30px;
    margin-right: 5%;
    margin-left: 2%;
    background: #3A3B3C;
    border-radius: 10px;
    color: #E4E6EB;
    border:none;
    height: 2em;
}

#pageNr{
    text-align: center;
    width: 30px;
    margin-right: 5%;
    margin-left: 2%;
    background: #3A3B3C;
    color: #E4E6EB;
    border-radius: 10px;
    border:none;
    height: 2em;
}

#assignmentNr{
    text-align: center;
    width: 30px;
    margin-left: 2%;
    background: #3A3B3C;
    color: #E4E6EB;
    border-radius: 10px;
    border:none;
    height: 2em;
}

#descriptionForm{
    box-sizing: border-box;
    margin-top: 4%;
    background: #3A3B3C;
    resize: none;
    border:none;
    border-radius: 10px;
    padding: 2%;
    color: #E4E6EB;
    height: 8em;
    font-family: 'Lato', sans-serif;
    font-weight: 550;
}

#bottomForm{
    display: flex;
    height: 50px;
}

#cancelButton{
    background: #3A3B3C;
    border: none;
    color: #B8BBBF;
    font-weight: bold;
    width: 50%;
    border-right: solid;
    border-color: #E4E6EB;
    border-width: 1px;
}

#postButton{
    background: #3A3B3C; 
    border: none;
    color: #B8BBBF;
    font-weight: bold;
    width: 50%;
    border-left: solid;
    border-color: #E4E6EB;
    border-width: 1px;
}

#Post{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #E4E6EB;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 85%;
    background: #242526;
    font-family: 'Lato', sans-serif;
    border-spacing: 50px;
    border-radius: 10px;
    overflow: hidden;
}

#PostTitle{
    word-wrap: break-word;
    color:#E4E6EB;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: auto;
    width: 91%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#CPA{
    font-size: 15px;
    border-bottom: 2px solid #9F9D9D;
    margin: auto;
    width: 90%;
    border-radius: 3%;
    margin-bottom: 0%;
    padding-bottom: 2%;
}

#problemDescription{
    margin:auto;
    width: 90%;
    color:  #969696 ;
    margin-bottom: 2%;
    margin-top: 5%;
    
}

#PostDescription{
    word-wrap: break-word;
    margin: auto;
    width: 88%;
    color: #E4E6EB ;
    margin-bottom: 4%;
    background: #18191A;
    border-radius: 5px;
    padding: 2%;
    min-height: 100%;
}

#actionBar{
    display: flex;
    background: #323334;
    margin: auto;
    width: 100%;
    height: 6vh;
}


.bell{
    display: flex;
    width: 50px;
    justify-content: center;
    padding: 2%;
}

.heart{
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 50px;
}

.arrow{
    display: flex;
    justify-content:  center;
    width: 50px;
    padding: 4%;
    margin-left: auto;
}

.comments{
    display: none;
    flex-direction: column;
    row-gap: 15px;
}

.line{
    width: 90%;
    height: 2px;
    background-color: #8D8C8C;
    border-style: none;
    border-radius: 2px;
}

.commentButton{
    display: inline-flex;
    transform: rotate(45deg);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    background-color: #3BBC86;
    color: #FFFFFF;
    line-height: 36px;
    font-size: 20px;
    margin: 7%;
    margin-top: 2%;
    margin-left: 83%;
}

.innerCommentButton{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    font-weight: 700;
}

.avatarImage{
    width: 30px;
    height: 30px;
}

.commentWriterDiv{
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 90%;
    margin: auto;
}

.commentTextArea{
    box-sizing: border-box;
    background: #242526;
    border-radius: 10px;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 3em;
    padding: 2%;
    resize: none;
    color: #E4E6EB;
    font-family: 'Lato', sans-serif;
}

.commentThread {
    display: flex;
    flex-direction: column;
    background: #323334;
    border-radius: 10px;
    width: 90%;
    margin: auto;

}

.commentCase{
    display: flex;
    flex-direction: row;
    color: #969696;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.theCommentDiv{
    word-wrap: break-word;
    background: #18191A;
    color: #E4E6EB;
    border-radius: 10px;
    width: 80%;
    box-sizing: border-box;
    padding: 2%;
    margin: 2%;
}

.commentAvatar{
    display: flex;
    box-sizing: border-box;
    height: 40px;
    padding: 2%;
}

.titleAndAvatar{
    display: flex;
}

#titleAvatar {
    box-sizing: border-box;
    display:flex;
    width: 40px;
    height: 40px;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
}

::placeholder{
    font-family: 'Lato', sans-serif;
}



/* markus kode stads ---- CSS FOR USER PAGE */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    color:#8d8c8b;
    overflow: hidden;
    color: #E4E6EB;
}

#userpage{
    min-height: 100vh;
}

/* commented out username css since it no longer is in use due to time constraints.
.username {
    margin-bottom: 2%;
    margin-top: 3%;
}
*/

#avatarDiv {
    margin-top: 10%;
}
.carousel-cell {
    width: 100%; /* full width */
    height: 25vh; /*maximum height*/

    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.carousel-cell img {
    display: block;
    max-height: 100%;
}

 
#userTitleElm {
    max-height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 4%;
    justify-content: center;
}
#answermetric {
    background: #242526;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5%;
    justify-content: space-around;
    padding-top: 5%;
    border-radius: 10px;
}

.containerCarousel  {
    margin-bottom: 20%;
}

/* CCS FOR FILTER PAGE */
.overlay  {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    height: 80vh;
    width: 100vw;
    align-items: center;
}

h2 {
    color: #E4E6EB;
    margin-bottom: 1vh;
    margin-left: 1vw;
    font-size: 125%;
    font-family: 'Lato', sans-serif;
}

.dropdown {
    margin:auto;
}

/*CSS for kapitel html dropdownmenu*/

.select-box-kap {
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.select-box-kap .options-container-kap {
    background: #3BBC86;
    color: #E4E6EB;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected-kap {
    background: #3BBC86;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #E4E6EB;
    position: relative;
    font-family: 'Lato', sans-serif;

    order: 0;
}

.selected-kap::after {
    content: "";
    background: url("Assets/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box-kap .options-container-kap.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box-kap .options-container-kap.active + .selected-kap::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box-kap .options-container-kap::-webkit-scrollbar {
    width: 8px;
    background: #3BBC86;
    border-radius: 0 8px 8px 0;
}

.select-box-kap .options-container-kap::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box-kap .option-kap,
.selected-kap {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box-kap .option-kap:hover {
    background: #3BBC86;
}

.select-box-kap label {
    cursor: pointer;
}

.select-box-kap .option-kap .radio {
    display: none;
}

/*CSS for opgave dropdown menu*/

.select-box-opg {
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.select-box-opg .options-container-opg {
    background: #3BBC86;
    color: #E4E6EB;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected-opg {
    background: #3BBC86;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #E4E6EB;
    position: relative;
    font-family: 'Lato', sans-serif;

    order: 0;
}

.selected-opg::after {
    content: "";
    background: url("Assets/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box-opg .options-container-opg.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box-opg .options-container-opg.active + .selected-opg::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box-opg .options-container-opg::-webkit-scrollbar {
    width: 8px;
    background: #3BBC86;
    border-radius: 0 8px 8px 0;
}

.select-box-opg .options-container-opg::-webkit-scrollbar-thumb {
    background: #3BBC86;
    border-radius: 0 8px 8px 0;
}

.select-box-opg .option-opg,
.selected-opg {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box-opg .option-opg:hover {
    background: #3BBC86;
}

.select-box-opg label {
    cursor: pointer;
}

.select-box-opg .option-opg .radio {
    display: none;
}

/*CSS for side dropdown menu*/

.select-box-side {
    display: flex;
    width: 50vw;
    flex-direction: column;
}

.select-box-side .options-container-side {
    background: #3BBC86;
    color: #E4E6EB;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected-side {
    background: #3BBC86;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #E4E6EB;
    position: relative;
    font-family: 'Lato', sans-serif;

    order: 0;
}

.selected-side::after {
    content: "";
    background: url("Assets/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box-side .options-container-side.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box-side .options-container-side.active + .selected-side::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box-side .options-container-side::-webkit-scrollbar {
    width: 8px;
    background: #3BBC86;
    border-radius: 0 8px 8px 0;
}

.select-box-side .options-container-side::-webkit-scrollbar-thumb {
    background: #3BBC86;
    border-radius: 0 8px 8px 0;
}

.select-box-side .option-side,
.selected-side {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box-side .option-side:hover {
    background: #3BBC86;
}

.select-box-side label {
    cursor: pointer;
}

.select-box-side .option-side .radio {
    display: none;
}

.srchBut  {
    margin-left: 50vw;
    margin-right: 50vh;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 16px 32px;
    border: 4px solid #3BBC86;
    color: #E4E6EB;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #242526;
}
